@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply text-white;
  background: conic-gradient(from 90deg at 50% 0%, #111, 50%, #222, #111);
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  background-color: rgba(22, 22, 23, 0.95);
}
