@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: local(""), url("./fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 1 999;
}
@font-face {
  font-family: "Array";
  src: local(""), url("./fonts/Array-Regular.woff2") format("woff2");
  font-weight: normal;
}

body {
  @apply text-white;
  min-height: 100vh;
  background: conic-gradient(from 90deg at 50% 0%, #111, 50%, #222, #111);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: rgba(22, 22, 23, 0.95);
}
